#Home {
  width: 100%;
  height: 660px;
  background-image: url(../images/events-heavenly-header.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  color: white;
  position: relative;
}
.HomeOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(201, 38, 44, 0.508);
}

#leftMenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: .5s;
  padding-top: 50px;
}

.sidenav a {
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  color: grey;
  display: block;
  transition: 0.3s;
  color: white;
}

#Home h2 {
  margin-top: 200px;
  text-align: center;
}

#Home p{
  text-align: center;
}

.sidenav {
  background-color: darkgrey;
}

.sidenav a:hover {
  color: rgba(214, 46, 51, 0.4);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#home-content {
  transition: margin-left 0.5s;
  padding: 16px;
}

#home-content h2 {
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

#sliderDown {
  margin: 100px auto;
  width: 50%;
}

#sliderDown h3 {
  padding: 15px;
  margin-bottom: 0;
  background-color: rgba(201, 38, 44, 0.508);
  cursor: pointer;
  color: white;
}

#sliderDown div {
  padding: 10px;
  background-color: lightgrey;
  display: none;
}

#count {
  background-image: url(../images/invitation-2508607__340.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-size: 100%;
  height: 300px;
}

.count-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(201, 38, 44, 0.508);
  color: white;
}

.container {
  padding: 70px;
  padding-top: 50px;
}

.count-time {
  padding: 50px;
  border: 1px solid white;
  font-weight: 500;
  font-size: 30px;
}

#contact-us {
  margin-top: 100px;
}

#contact-us .contactus-info h3 {
  color: rgb(84, 83, 83);
  font-size: 18px;
  font-weight: bold;
}
#contact-us .contactus-info p {
  font-size: 16px;
  line-height: 26px;
  color: grey;
}

#contact-us .icons {
  margin-top: 50px;
}
#contact-us .icons p {
  margin-bottom: 35px;
}
#contact-us .head h2 {
  text-transform: uppercase;
  font-size: 35px;
  color: #313131;
  font-weight: bold;
  margin-bottom: 20px;
}
#contact-us .head p {
  color: grey;
  font-weight: 300;
  font-size: 16px;
}


#contact-us form input{
  margin-bottom: 15px;
}


#contact-us form textarea {
  margin-bottom: 15px;
}
#contact-us form textarea {
  height: 200px;
  resize: vertical;
}
#contact-us .contactus-info .social-list {
  margin-top: 55px;
  color: grey;
}

#contact-us .contactus-info .social-list i {
  margin-right: 10px;
  border: 1px solid #999;
  width: 35px;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
  text-align: center;
  transition: .5s;
}
#contact-us .contactus-info .social-list i:hover {
  color: white;
  background-color: rgb(202, 38, 38);
  border: 1px solid rgb(202, 38, 38);
}
#contact-us form button {
  background-color: rgb(202, 38, 38);
  color: white;
  padding: 10px 15px;
}

#char {
  font-size: 15px;
  color: rgb(202, 38, 38);
}
.btn{
  display:block; 
  margin-top: 15px
}
